.resultado {
    background-color: rgb(190, 128, 69);
    border-radius: 7px;
}
.contenedor{
        margin: auto; /* Centrar */
        background-color: rgb(41, 206, 184);
        padding: 50px;
        width: 400px;
        height: 400px;


}



.back {
    background: url(wp3606816-fateapocrypha-wallpapers.jpg) center center;
    width: 50%;
    margin-top: 250px;
.boton{
color: rgba(16, 73, 121, 0.74);
width: 125px;
border: none;
body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #ffef62, #6265ff, #ff6262 );
    height: 100vh;
}
